<!-- global-bottom.vue -->

<template>
  <footer class="absolute top-1 right-1 right-0">
  <img src="https://www.freedesktop.org/wiki/logo.png" width="200"/>
  </footer>
  <footer
    v-if="$slidev.nav.currentLayout !== 'cover'"
    class="absolute bottom-0 right-1 p-2"
  >
    {{ $slidev.nav.currentPage }} / {{ $slidev.nav.total }}
  </footer>
</template>
